@charset "utf-8";
body nav a {
	border-width: thick;
	color: #1B0AFB;
	text-decoration: none;
	font-size: large;
	margin: 0;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-weight: lighter;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom:10px;

}
body nav a:hover{
	background-color: #FFC600;
	color: #FF0000;
}
body nav{
	padding: 10px;
}
body header {
	float: none;
	vertical-align: 17em;
	font-size: xx-large;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-width: medium;
	font-style: italic;
	font-variant: normal;
	font-weight: 600;
	text-align: left;
	line-height: 5ex;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	color: #0324CB;
	background-color: #FBDCA4;
	
}
body {
	background-attachment: scroll;
	background-image: url(sand1.jpg);
	
}
body h4{
	vertical-align: middle;
	font-size: xx-large;
	text-shadow: 0px 0px #655FED;
	border: thick dotted #C57611;
	background-color: #F3B94D;
	text-align: center;
	padding: 1em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	color: #A21C1C;
	margin: 1em;
}
body h3 {
	vertical-align: middle;
	font-size: xx-large;
	text-shadow: 0px 0px #655FED;
	border: thick dotted #C57611;
	background-color: #81DAD1;
	text-align: center;
	padding: 2em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	color: #FF0000;
	margin: 1em;
}
body h2{
	vertical-align: middle;
	font-size: xx-large;
	text-align: center;
	border: medium outset #000000;
	background-color: #74D7CC;
	padding: 10px;
	margin: 1em;
}
body nav {
	text-indent: 16px;
	background-color: #15DCED;
	background-origin: border-box;
	border-width: thick;
	border-style: none;
}
body p {
	background-color: #FFFFFF;
	font-size: large;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	border-radius: 20;
	white-space: normal;
	margin: 4em;
	padding: 1em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-position: left 0%;
}
body p img {
	     float:left;
     padding: 1%;
}

form {
	background-color: #FFFFFF;
	font-size: large;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	border-radius: 20;
	white-space: normal;
	margin: 4em;
	padding: 1em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-position: left 0%;
	text-align: center;
}

body h1 {
	vertical-align: middle;
	font-size: 3em;
	background-color: #D7C12D;
	text-align: center;
	padding: 0.5em;
	margin: 1em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #FF061E;
	font-weight: bolder;
	border: medium solid #A46B00;
}
header a {
    text-decoration: none;
}
header a:link, header a:visited {
    color: blue;
}
body h3 a {
	text-decoration: none;
	color: #18058F;
}
